%link{:rel => "stylesheet", :href => "http://yandex.st/highlightjs/7.5/styles/railscasts.min.css" }
%script{:type => "text/javascript", :src => "http://yandex.st/highlightjs/7.5/highlight.min.js" }
%script{:type => "text/javascript" }
  hljs.initHighlightingOnLoad();