%h1 Hi, This was put together to help people have something see working
examples of automated test written with Watir, Selenium, and Capybara using Bdd tools like
Rspec and Cucumber using basic and advanced techniques

feel free to contribute your own examples or help write them in different languages
