%section#history
  %header What is this?
  %p This was put together to help people have something see working
  examples of automated test written with Watir, Selenium, and Capybara using Bdd tools like
  Rspec and Cucumber using basic and advanced techniques
  %strong feel free to contribute your own examples or help write them in different languages

%section
  %header examples of how to test these can be found here
  %fieldset
    %legend examples of how to test these can be found here
    %ul
      %li
        %a{:href => 'some_github_url'} In Watir-Webdriver with Cucumber
      %li
        %a{:href => 'some_github_url'} In Watir-Webdriver with RSpec
      %li
        %a{:href => 'some_github_url'} In Selenium-Webdriver with Cucumber
      %li
        %a{:href => 'some_github_url'} In Selenium-Webdriver with RSpec

%section
  %header Here are some tools used in creating the testing examples
  %fieldset
    %legend Here are some tools used in creating the testing examples
  %ul
    %li
      %a{:href => "/watir" } Watir
    %li
      %a{:href => "/selenium" } Selenium - Webdriver
    %li
      %a{:href => "/watir-webdriver"} Watir-Webdriver
    %li
      %a{:href => "/cucumber"} Cucumber
    %li
      %a{:href => "/rspec"} Rspec
