%section#history
  %header
    %h1 What is this?
  %p This was put together to help people have something see working
  examples of automated test written some OpenSource tools.

  %p Watir, Selenium, and Capybara using Bdd tools like
  Rspec and Cucumber using basic and advanced techniques
  %strong feel free to contribute your own examples or help write them in different languages

  %p You can request an example
  %a{:href => 'gihub issues'} here

%section#examples
  %header
    %h1 Examples of how to test these can be found here
  %fieldset
    %legend
    %ul
      %li
        %a{:href => 'some_github_url'} In Watir-Webdriver with Cucumber
      %li
        %a{:href => 'some_github_url'} In Watir-Webdriver with RSpec
      %li
        %a{:href => 'some_github_url'} In Selenium-Webdriver with Cucumber
      %li
        %a{:href => 'some_github_url'} In Selenium-Webdriver with RSpec

%section#references
  %header
    %h1 Here are some tools used in creating the testing examples
  %fieldset
    %legend
    %ul
      %li
        %a{:href => "/watir" } Watir
      %li
        %a{:href => "/selenium" } Selenium - Webdriver
      %li
        %a{:href => "/watir-webdriver"} Watir-Webdriver
      %li
        %a{:href => "/cucumber"} Cucumber
      %li
        %a{:href => "/rspec"} Rspec
