
%p#tags-link
  %a{:href => "/search?q=test1", :rel => "nofollow"}test1
  %a{:href => "/search?q=test2", :rel => "nofollow"}test2
  %a{:href => "/search?q=test3", :rel => "nofollow"}test3


%p#tags-link
  %a{:href => "/search?q=test4", :rel => "nofollow"}test4
  %a{:href => "/search?q=test5", :rel => "nofollow"}test5
  %a{:href => "/search?q=test6", :rel => "nofollow"}test6
