%script{:type => "text/javascript",:src => "http://code.highcharts.com/highcharts.js"}
%script{:type => "text/javascript",:src => "http://code.highcharts.com/modules/exporting.js"}
%script{:type => "text/javascript",:src => "http://code.jquery.com/jquery-1.7.2.js"}
%script{:type => "text/javascript",:src => "http://code.jquery.com/ui/1.8.18/jquery-ui.js"}
%script{:type => "text/javascript",:src => "/javascripts/highcharts_basic_example.js"}

%div#container{:style => "min-width: 400px; height: 400px; margin: 0 auto"}

