%header
  %h1 Here are a few example pages.

%ul#examples
  %li#basic_form_example
    %a{:href => "/forms/basic_elements_example" } Basic Form Example
  %li#present_elements_example
    %a{:href => "/forms/present_elements_example" } Exists? issue
  %li#advanced_form_example
    %a{:href => "/forms/advanced_elements_example" } Advanced Form Example
  %li#accordian_example
    %a{href: "/forms/accordion_example" } Accordion Form Example (HTML5 CSS)
  %li#accordian_example
    %a{href: "/forms/accordion_jquery_example" } Accordion Form Example (HTML5 jQuery)
  %li#kendoui_example
    %a{href: "/ui_widgets/kendo_ui" } Kendo UI Example
