%header
  %h1 Here are some newer examples.

  %ul#examples_2014
    %li#select_lists
      %a#select_lists_example{href: "/select_lists" } Select Lists
    %li#table_challenges
      %a#table_challenges_example{href: "/table_challenges" } Table Challenges with data

  %h2 Older examples from 2013
  %ul#examples_2013
    %li#simple_form
      %a#simple_form_example{href: "/forms/simple_form_example" } Simple Example
    %li#basic_form
      %a#basic_form_example{href: "/forms/basic_form_example" } Basic Form Example
    %li#kendoui
      %a#kendoui_example{href: "/ui_widgets/kendo_ui_example" } Kendo UI Example
    %li#present_elements
      %a#present_elements_example{href: "/forms/present_elements_example" } Exists? issue
    %li#ajax_select
      %a#ajax_select_example{href: "/forms/ajax_select_example" } Simple Ajax Select Example
    %li#sencha_touch
      %a#sencha_touch_example{href: "/ui_widgets/sencha_touch_example" } Sencha Touch Example


  git status%h2 Broken Examples
  %ul#examples_broken
    %li#advanced_form
      %a#advanced_form_example{href: "/forms/advanced_elements_example" } Advanced Form Example(broken)
    %li#accordian
      %a#accordian_example{href: "/forms/accordion_example" } Accordion Form Example (HTML5 CSS)(broken)
    %li#accordian_jquery
      %a#accordian_jquery_example{href: "/forms/accordion_jquery_example" } Accordion Form Example (HTML5 jQuery)(broken)
    %li#high_charts
      %a#high_charts_example{href: "/high_charts/high_charts_example" } Simple Example using Highcharts(broken)
    %li#mobile
      %a#mobile_example{href: "/mobile/examples" } Mobile Examples(broken)
    %li#knockoutjs
      %a#knockoutjs_example{href: "/js_frameworks/knockoutjs_example" } Knockoutjs Examples(broken)
    %li#popup_example
      %a#popup_example{href: "/popup_example" } Pop up Examples(broken)
    %li#table_element_example
      %a#table_example{href: "/elements/table_example" } Dynamically add items to a list(broken)
    %li#widget_example
      %a#experiment_example{href: "/widgets/knockoutjs_experiment" } experiment(broken)
    %li#basic_element
      %a#basic_element_example{href: "/basic_element_example" } Basic Element Example(broken)
    %li#file_upload_form
      %a#file_upload_form_example{href: "/forms/file_upload_form_example" } File Upload Form Example(broken)