%header
  %h1 Here are a few example pages.

%ul#examples
  %li#basic_form_example
    %a{:href => "/forms/basic_elements_example" } Basic Form Example

  %li#advanced_form_example
    %a{:href => "/forms/advanced_elements_example" } Advanced Form Example