%script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
%script{:type => "text/javascript", :src => "http://cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"}
%script{:type => "text/javascript", :src => "/javascripts/knockoutjs/knockout_experiment.js"}

