!!!
%html
  %head
    %meta{ :'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %title= @title || "Welcome to Derp-Bear"
    %link{:rel => 'stylesheet', :href => '/stylesheet.css'}

  %body
    %header#main
    %nav#primary
      %ul
        %li
          %a#home_link{:href => "/"} Home
        %li
          %a#about_link{:href => "/about"} About

    %section#content
      = yield

    %section#results
