!!!
%html
  %head
    %meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %title= @title || "Welcome to Derp-Bear"
    %link{:rel => 'stylesheet', :href => '/stylesheet.css'}
    %script{:type => "text/javascript",:src => "http://rightjs.org/hotlink/right.js"}
    %script{:type => "text/javascript",:src => "/javascripts/results.js"}

  %body
    %header#main
    %nav#primary
      %ul
        %li
          %a#home_link{:href => "/"} Home
        %li
          %a#about_link{:href => "/about"} About
        %li
          - if admin?
            %a#logout_link{:href => "/logout"} Logout
          - else
            %a#login_link{:href => "/login"} Login
    %section#messages
      = styled_flash
    %section#content
      = yield

    %section#results
