%form#simple_example_form{action: "/forms/simple_form_example", method: "post", role: 'form'}
  %legend Please Fill in the Form below
  %ul
    %li#your_information
      %fieldset.form-group
        %legend Your Information
        %ol
          %li.form-group
            %label{for: 'first_name'} First Name
            %input#first_name.form_control{type: 'text', name: 'first_name', placeholder: "First Name", required: true }
          %li.form-group
            %label{for: 'last_name'} Last Name
            %input#last_name.form_control{type: 'text', name: 'last_name', placeholder: "Last Name", required: true}
          %li.form-group
            %label{for: 'email'} Email
            %input#email.form_control{type: 'email', name: 'email', placeholder: "name@example.com", required: true}
          %li.form-group
            %label{for: 'website_url'} Website
            %input#website_url.form_control{type: 'url', name: 'website_url'}
          %li.form-group
            %label{for: 'pet_select'} Select a Pet
            %select#pet_select.btn-hg.btn-primary{name: 'pet_select'}
              %option{value: "cat"} Cat
              %option{value: "dog"} Dog
              %option{value: "rabbit"} Rabbit
              %option{value: "snake"} Snake
              %option{value: "horse"} Horse
          %li#submit_example.form-group
            %fieldset
              %input.submit_button.btn.btn-default{type: "submit", value: "Submit" }