= haml :_code_examples_support
%script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
%script{:type => "text/javascript", :src => "http://cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"}
%script{:type => "text/javascript", :src => "/javascripts/knockoutjs/table_knockout.js"}

%h1
  Table Example

  %h4
    People
  %ul{data: {bind:"foreach: people"}}
    %li
      Name at position
      %span{ data: { bind: "text: $index"} } :
      %span{data: {bind: "text: firstName" }}
      %span{data: {bind: "text: lastName" }}
      %span{data: {bind: "text: position" }}
      %a{href: "#", data: { bind: "click: $parent.removePerson"}}
        Remove

  %button{data: {bind: "click: addPerson"}}
    Add

= haml :_table_code_example