%section#includes
  %script{:type => "text/javascript", :src => "http://cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"}
  %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
  %script{:type => "text/javascript", :src => "/javascripts/knockoutjs/table_knockout.js"}

%section#example
  %h1
    Knockoutjs Table Example

    %h4
      List of People
    %ul#list_of_people{data: { bind: "foreach: people"}}
      %li
        Name at position
        %span{data: { bind: "text: $index"}} :
        %span{data: { bind: "text: firstName, attr: {'id': 'first_name_' + $index() }"}}
        %span{data: { bind: "text: lastName, attr: {'id': 'last_name_' + $index() }" }}
        %span{data: { bind: "text: position, attr: {'id': 'position_' + $index() }" }}
        %a{href: "#", data: { bind: "click: $parent.removePerson" }}
          Remove

    %button#add_person{data: { bind: "click: addPerson" }}
      Add

%section#code
